[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = first repo
[access "refs/*"]
	owner = group user/Luffytaro007
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Luffytaro007
	label-Verified = -1..+1 group user/Luffytaro007
	push = group user/Luffytaro007
	read = group user/Luffytaro007
	rebase = group user/Luffytaro007
	removeReviewer = group user/Luffytaro007
	submit = group user/Luffytaro007
[access "refs/heads/*"]
	create = group user/Luffytaro007
	push = +force group user/Luffytaro007
	pushMerge = group user/Luffytaro007
	read = group user/Luffytaro007
[access "refs/tags/*"]
	push = group user/Luffytaro007
	push = +force group user/Luffytaro007
